
<main class="white__back container">
        <div class="registration__header container">
            <span>LOGIN</span>
        </div>

        <form class="form" action="" method="post">

            <input type="text" name="login" placeholder="login">
            <input type="password" name="password" placeholder="password">
                <br>
            <button type="submit" class="button join-now" name="loginButton">
                <span>join now</span><img src="public/img/reg_button.png">
            </button>

        </form>


</main>