

<main class="white__back container">
    <div class="registration__header container">
        <span>ADMIN: Order list</span>
    </div>
        <table class="orderTable">
            <tr><td>OrderNum</td><td>Data</td><td>User</td><td>Status</td><td>Comment</td><td></td><td></td></tr>
            <?php foreach (execQuery($db,"SELECT idOrder, date, status, comment, cartIdNum, login FROM orderlist
            LEFT JOIN user u on u.idUser = orderlist.userid") as $row){?>
            <tr>
                <form method="post">
                <td><?= $row['idOrder']?></td>
                <td><?= $row['date']?></td>
                <td><?= $row['login']?></td>
                <td>
                    <select name="status">
                        <option value="<?= $row['status']?>"><?= $row['status']?></option>
                        <option value="Canceled">Canceled</option>
                        <option value="Stopped">Stopped</option>
                        <option value="Done">Done</option>
                    </select>
                   </td>
                    <input hidden name="idOrder" value="<?= $row['idOrder']?>">
                <td><input type="text" value="<?= $row['comment']?>" name="comment"></td>
                <td><button class="button" type="submit" name="orderUpdate">Update</button><a href="?action=delOrder&idOrder=<?= $row['idOrder']?>" class="button">Удалить</a></td>
                </form>
            </tr>
            <?php } ?>
        </table>


    <section class="loyalty">

    </section>
</main>