<div class="paginator">
    <div><a href="#"><img src="../public/img/left.svg"></a></div>
    <ul class="paginator__list">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li>.....</li>
        <li>20</li>
    </ul>
    <div><a href="#"><img src="../public/img/right.svg"></a></div>
</div>